.search-form{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    & .form-group{
        display: flex;
        flex-direction: column;
    }
    
    & .input-field{
        width: 300px;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid #929eaa;
    }

    & .form-message{
        color: #000;
        margin-left: 5px;
        margin-top: 10px;
        font-style: italic;   
    }
}

.table p{
    text-align: center;
    padding: 80px 20px;
}

.col-actions{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
